<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="default" value="AkunaCare" />
  </appSettings>

  <connectionStrings>
    <add name="VBShell" connectionString="server=(local);database=VBShell;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="tracker" connectionString="server=(local);database=Tracker;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="AkunaCare" connectionString="server=(local);database=AkunaCare;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="Crams" connectionString="server=(local);database=Crams;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="Rolls" connectionString="server=(local);database=Rolls;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="vercompare" connectionString="server=(local);database=vercompare;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
